/*{outline: 1px solid rgba(0,255,0,0.5);}*/
/********************************************************FONT*FAMILY********************/
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/********************************************************FRONT PAGE********************/
body{
    font-family: "Ubuntu";
}
.background{
    background-image: url(../images/orig_230387.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.portada{
    background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 87%,rgba(0,0,0,0.91) 100%); 
}
.portada img{
    width: 20%;
    margin: 50px auto;
}
.buttons{
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 90%,rgba(0,0,0,0.91) 100%); 
}
.signup{
   background: linear-gradient(to right, rgba(135,0,191,0.45) 10%,rgba(135,0,191,0.5) 20%,rgba(224,0,191,0.8) 85%,rgba(224,0,191,0.9) 100%);
    padding: 10px 30px;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
}
.signup:hover{
    background: rgba(0,0,0,0);
    color: #fff;
}
.login{
    background: rgba(0,0,0,0);
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    font-size: 25px; 
}
.login:hover{
     background: linear-gradient(to right, rgba(135,0,191,0.45) 10%,rgba(135,0,191,0.5) 20%,rgba(224,0,191,0.8) 85%,rgba(224,0,191,0.9) 100%);
    color: #fff;
    border: none;
}

/****************************************CODE-COUNTRY*******************************************/
#user-number{
    border-left: none;
    box-shadow: none;
}
/*****************************************USER'S INFORMATION************************************/
.arrow{
    position: absolute;
    left: 20px;
    top:20px;
    font-size:30px;
    color: #000;
}
.next, .next_driver{
    background-color: #ff00bf;
    position: absolute;
    padding: 30px;
    bottom: 0;
    right: 0;
    left:0;
}
.next a, .next_driver a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    left:0px; 
}
.color{
    background-color: #fff;
    box-shadow: none;
    border-right: none;
    border-left: none;
}
.icon{
    background-color: #fff;
    border-right: none;
}
#name{
    border-right: none;
    box-shadow: none;
    border-left: none;
}
#lastname, #email{
    border-left: none;
    box-shadow: none;
}
/***********************************************SELECT-COUNTRY***********************************/
.countries{
    padding-top: 25px; border-top: 1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(0,0,0,0.1);background-color: #efeff4;}
.countries span{
    font-weight: bold;
    margin-left: 20px;
}
.flags li {
    padding:20px 0;
    border-bottom: 1px solid #f2f2f2;
}
.flags a{
    text-decoration: none;
    color: #000;
}
.flags img{
    margin-right: 10px;
}
.search{
    font-size: 12px;
    margin: 40px 0;
    font-weight: bold;
}
/********************************************************MAPA*********************************************************/
.themap{
    height: 100%; 
    width: 100%; 
    position:absolute;}
.header_icons{
    padding: 10px 0;
}
/************BUTTONS**********/
    .pickup{
        background-color: rgb(54,30,131);}
    .request{
          background-color: rgb(255,0,191);}
    .pickup, .request{
        position: absolute;
        padding: 20px;
        bottom: 10px;
        right: 10px;
        left:10px;
        color: #fff;
        border-radius: 10px;
        font-size: 30px;}
    .pickup:hover, .request:hover{
        text-decoration: none;
        color: #fff;
    }
.map_location{
    border-left: none;
}
/************ICONS-TOP**********/
    .gift_map{
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: 3px solid #fff;
        font-size: 30px;
    }
    .photo_fb_map img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid #fff;
    }
    .gift_map{
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.2);
    }
/************LIST-CARS**********/
    .cars img{
        width: 70px; 
    }
    .list{
        width: 270px;
        border-radius: 8px;
    }
    .list small{
        color: rgba(0,0,0,0.6);
    }
    .cars_hover div{
        display: inline-block;
        margin: 0 5px;
    }
    .cars_hover{
        padding: 5px;
    }
    .cars_hover:hover{
        background-color: rgba(54,30,131,0.1);
        color:  rgb(54,30,131);
    }
    .cars_hover img{
        color: rgb(54,30,131);
    }
/************LOGO-CENTER**********/
    .img_mapita{
        position: relative;
        width: 70px;
        margin: auto;
    }
/*********************************************************MAP-2**************************************************/
.result, .set_pickup{
    position: absolute;
    bottom: 100px;
    right: 10px;
    left:10px;
    color: #000;
    font-size: 15px;
}
.result small{
    color: rgba(0,0,0,0.5);
}
.car_description, .car_payment{
    background: #f3f3f5;
}
/************ICONS--**********/
    .arrow_left, .arrow_right{
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid rgba(0,0,0,0.3);
        background-color: #fff;
        margin-bottom: 10px;
    }
    .arrow_left i{
        margin: 0 10px; 
    }
/************CAR-DESCRIPTION**********/
    .car_description img{
        width: 100px;
    }
    .car_description{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
    }
    .car_description ul{
        margin: 10px;
    }
    .car_description strong{
        font-size: 20px;
    }
    .car_description, .car_payment{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
/************CAR-PAYMENT**********/
    .car_payment .personal{
        border-right: 1px solid rgba(0,0,0,0.1);
    }
    .credit_card{
        width: 35px;
    }
/************CAR-DIRECTION**********/
    .car_direction i{
        font-size:10px;
    }
    .first_direction div{
        padding: 8px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .car_direction{
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
/*******************************************************************DRIVER************************************************/
.header_driver{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.logo-driver{
    width: 50px;
    display: inline-block;
}
.self_info{
    margin: 0  10px; 
}
/************PHOTO_fb**********/

.photo_fb{
     border-radius: 100%;
     width: 130px;
    height: 130px;
     margin: auto;
}
.content_photo{
    padding: 40px;
}
/************OPTIONS**********/
.options_payment button{
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
}
.options_payment button:hover{
    background: rgb(255,0,191);
    color:#fff;
}
.btn_payment{
    border-left: none;
    color:rgba(0,0,0,0.3);
}
/************PRICE-PAYMENT**********/
.payment_price{
    font-size: 30px;
}
.next_driver{
    background-color: #474c62;
}

/*********************************************PLACEHOLDER****************************/
.user input::-webkit-input-placeholder {
  color: #D7D7D9;
}
.user input:-moz-placeholder {
  color: #D7D7D9;
}
.user input:-ms-input-placeholder {
  color: #D7D7D9;
}
.user input[placeholder] {
    color: blue;
    font-size: 15px;
}
